# Configuration file

####################
# block
####################

block {
    I:blockMultipart.id=1439
}


####################
# general
####################

general {
    B:autoAssign=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=
}


####################
# item
####################

item {
    I:itemSaw=13782
}


